<div class ="container">
    <div class ="column">
        <div class ="nav">
            <a href="/home">
                <i class="fas fa-home"></i>
                <span>INICIO</span>
            </a>
            <a href="/categorias">
                <i class="fas fa-gamepad"></i>
                <span>CATEGORÍAS</span>
            </a>
            <a href="/categorias/new">
                <i class="fas fa-plus-circle"></i>
                <span>NUEVA CATEGORÍA</span>
            </a>
            <a href="/login">
                <i class="fas fa-sign-in-alt"></i>
                <span>LOGIN</span>
            </a>
        </div>
    </div>
</div>