h1 {
    color: white;
    text-align: center;
}
.insertar {
    display: grid;
    justify-content: center;
}
.insertar .formulario {
    color: white;
}
.insertar .form-control {
    border-radius: 3px;
    width: 50em;
}
.insertar button {
    background-color: rgb(255, 94, 0);
    border-color: black;
    color: white;
}