body {
    background-color: grey;
}

div {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(73, 73, 73);
    color: white;
}
div a {
    width: 90px;
    background-color: rgb(255, 94, 0);
    border-color: black;
}
div a:hover {
    background-color: orange;
    transition: .2s;
}