<h1>Iniciar sesión</h1>
<div class="login">
    <div class="formulario">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input  type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input  type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña">
        </div>
    </div>
    <button routerLink="/home" type="button" class="btn btn-warning">Iniciar sesión</button>
    <a href="/register">¿No tienes cuenta? Registrarse</a>
</div>