div {
    display: grid;
    justify-content: center;
}

div h1 {
    text-align: center;
    color: white;
}
div button {
    background-color: rgb(255, 94, 0);
    border-color: black;
    color: white;
}